.grid {
    --box-size: 32px;
    display: flex;
    flex-wrap: wrap;
    max-width: calc(var(--box-size) * 16);
}

.grid__box {
    outline: 1px solid #636363;
    width: var(--box-size);
    height: var(--box-size);
}

.grid__box:hover {
    background-color:#5c5c5c
}