body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    flex: 1;
    max-width: 85vh;
}

.grid-range {
    display: block;
    text-align: center;
}


.grid {
    --squares-per-grid: 16;
    display: flex;
    flex-wrap: wrap;
    outline: 1px solid #636363;
}

.grid__box {
    flex: 0 0 calc(100% / var(--squares-per-grid));
    aspect-ratio: 1 / 1;
}