.grid {
    --squares-per-grid: 16;
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
}

.grid__box {
    flex: 0 0 calc(100% / var(--squares-per-grid));
    aspect-ratio: 1 / 1;
    outline: 1px solid #636363;
}

.grid__box:hover {
    background-color:#5c5c5c
}